*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    background: burlywood;
    height: 70px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul{
    list-style: none;
    display: flex;
}
li:first-child {
    margin-right: auto;
}
body {
    background: #bbe687;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
   margin-left: auto;
   margin-right: auto;
    background-color: #ffffff;
    max-width: 250px;
    max-height: 80px;

}

button {
    padding: 10px 10px;
    background-color:  #f8047e;
    color: #ffffff;
    margin-top: 5px;
    cursor: pointer;
}

button:hover{
    transition: ease-in;
    background-color: #ed65a9;
    color: #ffffff;
}