* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #363737;
}

nav {
    height: 40px;
    background-color: burlywood;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    display: flex;
    justify-items: flex-end;
}

li:first-child {
    margin-right: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15rem;
    color: #e23f17;
}

.wrapper {
    background-color: #fff;
    border: 3px solid #272626;
    max-width: 930px;
}
.container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}